@{
    ViewBag.Title = "Home Page";
}

<div>

    <h2 style="font-style:italic; font-family:'Mesquite Std'; font-size:100px;">WellCome To ABCD Mall </h2>
</div>
<div>
    <img src="~/Upload/banner1.jpg"/>
    <img src="~/Upload/41.jpg" />
    <img src="~/Upload/42.jpg" />


</div>
